    body {
        background-color: #dbf6e9;
    }
    
    hr {
        border-color: white;
        border-style: none;
        border-top-style: dotted;
        border-width: 10px;
        width: 20%;
    }
    
    p {
        font-size: 1.5em;
        /* 30px/16=1.875em */
    }
    
    h2 {
        color: #31326f;
    }